# Default load data example

In [1]:
from data_loader_default import load_data_default

In [2]:
load_data = load_data_default(path='./input/default of credit card clients.xls')

path goes in to line as this:
```python
pd.read_excel(path,header=1)
```

In [3]:
for X_train,y_train,X_val,y_val in load_data.yield_data():
    X_train,y_train = X_train,y_train
    X_val,y_val = X_val,y_val
    print('\n',X_train.SEX.mean(),'\n',X_val.SEX.mean(),'\n',y_train.mean(),'\n',y_val.mean())
    print('\n')

 1.6047777777777779
 1.5995555555555556
 0.2212222222222222
 0.22111111111111112



 1.6031666666666666
 1.606
 0.2212222222222222
 0.22111111111111112



 1.6042777777777777
 1.6015555555555556
 0.2212222222222222
 0.22111111111111112



 1.6019444444444444
 1.6108888888888888
 0.22116666666666668
 0.22133333333333333



 1.6045
 1.6006666666666667
 0.22116666666666668
 0.22133333333333333

In [4]:
load_data.df_train

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT_3,BILL_AMT_4,BILL_AMT_5,BILL_AMT_6,PAY_AMT_1,PAY_AMT_2,PAY_AMT_3,PAY_AMT_4,PAY_AMT_5,PAY_AMT_6
20349,20350,80000,1,1,2,25,2,2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
6983,6984,300000,2,1,1,51,-1,-1,-1,-1,...,225,0,0,0,832,225,0,0,0,0
17548,17549,60000,2,2,1,48,0,0,0,0,...,51874,51808,16941,17295,2000,2100,1400,600,1000,1000
954,955,110000,2,2,1,46,-1,-1,-1,-1,...,2161,1719,107591,107940,2151,2161,1719,107591,5000,3500
12866,12867,20000,2,2,2,25,0,0,0,0,...,17198,14253,18475,13878,1376,1121,460,6000,624,2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22066,22067,160000,2,1,2,26,-1,-1,-1,0,...,10709,8677,4318,2659,3859,10709,1000,100,1000,2856
19277,19278,80000,2,2,1,41,-1,-1,-1,-1,...,566,61664,58281,58281,1679,566,61664,0,0,4480
23975,23976,20000,1,1,2,25,0,0,0,0,...,9768,8798,9404,6864,1200,2000,2000,1000,1000,1000
12381,12382,500000,2,1,2,35,1,-1,-1,-1,...,31762,42935,2464,2532,640,31764,51986,55000,2532,5717
26237,26238,440000,2,2,2,28,0,0,0,0,...,393255,370202,258387,255740,15000,20000,15305,10070,15037,10052

check manuel for further methods

In [5]:
help(load_data_default)

Help on class load_data_default in module data_loader_default:

class load_data_default(builtins.object)
 |  load_data_default(path='./input/default of credit card clients.xls', random_state=42)
 |
 |  self.df_train : non test data
 |  self.StratifiedKFold : StratifiedKFold with fixed data and parameter
 |  self.split : split method of StratifiedKFold with fixed data and parameter thus don't need parameters
 |  self.yield yields X_train,y_train,X_val,y_val
 |
 |  Methods defined here:
 |
 |  __init__(self, path='./input/default of credit card clients.xls', random_state=42)
 |      path = path of input data eg: ./input/ default of credit card clients.xls
 |      (path goes into pd.read_excel(path,header=1)
 |      random state should be fixed for collab. purpose
 |
 |      Note
 |      load_data_default goes through renaming process
 |      1.indexing of discrete PAY
 |      2.BILL_AMTn to BILL_AMT_n
 |      3.same for PAY_AMT
 |
 |  load_train_data(self)
 |      return non test(not black box) data
 |
 |  split(self)
 |      Yields StratifiedKFold's split with fixed data, parameter
 |      X= non test data frame i.e. self.df_train
 |      y= SEX and default of non test data
 |      n_split = 5
 |      shuffle True
 |      random state =42
 |
 |  yield_data(self)
 |      Yield tuple (X_train, y_train, X_val, y_val) of StratifiedKFold.split with fixed data and parameter
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  DIFF = ['DIFF_1', 'DIFF_2', 'DIFF_3', 'DIFF_4', 'DIFF_5']
 |
 |  D_PAY = ['PAY_1', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6']
 |
 |  L_BILL = ['log_BILL_AMT_1', 'log_BILL_AMT_2', 'log_BILL_AMT_3', 'log_B...
 |
 |  L_DIFF = ['log_DIFF_1', 'log_DIFF_2', 'log_DIFF_3', 'log_DIFF_4', 'log...
 |
 |  L_PAY = ['log_PAY_AMT_1', 'log_PAY_AMT_2', 'log_PAY_AMT_3', 'log_PAY_A...
 |
 |  L_USAGE = ['log_USAGE_1', 'log_USAGE_2', 'log_USAGE_3', 'log_USAGE_4',...
 |
 |  USAGE = ['USAGE_1', 'USAGE_2', 'USAGE_3', 'USAGE_4', 'USAGE_5']

### Attributes are list of column names of corresoponding category
usage:
```python
train_X[D_PAY+L_PAY]
train_X[USAGE]
```